h1{
    color: #ff57b4;
}
body{
    background-color: #080708;
}
#encabezado{
    background-color: #56cfe1;
    height: 70px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 15px 15px 5px #ef8fcd;
    display: flex;
}
.logo{
    background-color: blueviolet;
    width: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo img{
    width: 100%;
    height: auto;
    
}
.menu{
    background-color: #56cfe1;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.menu ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    background-color: #56cfe1;
}
.menu ul li{
    margin: 0%;
    padding: 15px 20px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
.menu ul li a:hover{
    background-color: #7209b7;
    padding: 15px 20px;
}
.redes{
    background-color: #56cfe1;
    width: 30%;
}


.cards{
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    background-color: #56cfe1;
    padding: 20px;
    border-radius: 10px;
}

.card{
    width: 30%;
    background-color: #f72585;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.card img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.card h3{
    margin: 10px 0 5px;
}

.card p{
    font-size: 14px;
    text-align: center;
}


.seccion{
    width: 80%;
    margin: 30px auto;
    height: 300px;

    background-image:
        linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)),
        url("../imagenes/seccion.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}



.contenido-seccion{
    width: 80%;
    text-align: center;
    color: rgb(255, 255, 255);
}



.footer{
    width: 100%;
    background-color: #f72585;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footer-contenido{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
}
.col h4{
    margin-bottom: 0px;
}

.col p{
    margin: 0px 0;
}
body{
    padding-bottom: 140px;
}


.pie{
    width: 48%;
    height: 100px;
    background-color: #f72585;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
}
