h1{
    color: #ff57b4;
}
body{
    background-color: #080708;
}
#encabezado{
    background-color: #56cfe1;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 15px 15px 5px #ef8fcd;
    display: flex;
}
.logo{
    background-color: blueviolet;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo img{
    width: 100%;
    height: auto;
    
}
.menu{
    background-color: #7209b7;
    width: 70%;
}
.menu ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    background-color: #ef8fcd;
}
.menu ul li{
    margin: 0%;
    padding: 15px 20px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
.menu ul li a:hover{
    background-color: #7209b7;
    padding: 15px 20px;
}
.redes{
    background-color: #f72585;
    width: 30%;
}


.cards{
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    background-color: #56cfe1;
    padding: 20px;
    border-radius: 10px;
}

.card{
    width: 30%;
    height: 200px;
    background-color: #f72585;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


.seccion{
    width: 80%;
    margin: 30px auto;
    height: 300px;
    background-color: #56cfe1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.footer{
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.pie{
    width: 48%;
    height: 100px;
    background-color: #f72585;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
}
