h1{
    color: #ff57b4;
}
body{
    background-color: rgb(248, 224, 238);
}
#encabezado{
    background-color: hwb(71 93% 1%);
    height: 150px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 15px 15px 5px rgba(197, 7, 181, 0.5);
}